<mjml>
  <mj-head>
    <mj-title>{{{ m.txt.title }}}</mj-title>
    <mj-preview>{{{ m.txt.preview }}}</mj-preview>
    <mj-font name="Lato" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap&subset=latin-ext"/>
    <mj-attributes>
      <mj-all line-height="1" font-family="Lato, Arial"/>
    </mj-attributes>
    <mj-breakpoint width="600px"/>
    <mj-style inline="inline">
      
      .show_on_mobile, .show_on_mobile-outlook {
      display:none;
      }
      
      .show_on_mobile table, .show_on_mobile-outlook {
      mso-hide:all;
      }
      
      .mj-column-per-33 {
      width: 320px;
      }
      
      .mj-column-per-50 {
      width: 320px;
      }
      
      .rtl > table > tbody > tr > td, .rtl > table, .rtl > table { direction: rtl; }
      
      .ltr > table { direction: ltr; }
      
      .border-socials > td { border: 1px solid #89828b; cursor: pointer; }
    </mj-style>
    <mj-style>
      
      .ltr > table { direction: ltr; }
      
      .rtl > table { direction: rtl; }
      
      .border-socials > td:hover { border: 1px solid #ffffff!important; background-color: #ffffff; }
      
      .kv-alt img { font-family: Arial; color: #000000; font-size: 30px!important; line-height:50px; text-align: center; }
      .banner-alt img { font-family: Arial; color: #c0c0c0; font-size: 20px!important; line-height:40px; text-align: center; }
      .prod-alt img { font-family: Arial; color: #000000; font-size: 16px!important; line-height:30px; text-align: center; }
      .cta-alt img { font-family: Arial; color: #000000; font-size: 20px!important; line-height:35px; background-color: #ffffff; text-align: center; }
      
      @media only screen and (max-width: 599px) {
      
      .wrapper { max-width: 322px!important; }
      
      .show_on_desktop { display:none!important; }
      
      .show_on_mobile, .show_on_mobile-outlook { display:block!important; }
      
      .mj-column-per-33 > table, .mj-column-per-33 > table > tbody > tr > td > table { min-width: 100% }
      
      .mj-column-per-50 > table {min-width: 100%}
      
      .mj-column-per-100 > table {min-width: 100%}
      .mj-column-px-250 > table {min-width: 100%}
      
      .mj-column-per-50, .mj-column-per-33 { max-width: 100%!important; }
      
      .contact-social { padding: 3px 0!important;}
      .cta-sec > table > tbody > tr > td { padding-top: 25px!important}
      }
    </mj-style>
  </mj-head>
  
  <mj-body background-color="#f7f7f7" width="602px">
    <mj-section padding="0">
      <mj-column>
        <mj-text font-size="11px" color="#5a5a5a" align="right" padding="10px 0">
          {{{ m.txt.show_in_browser }}}
        </mj-text>
      </mj-column>
    </mj-section>
    
    <mj-wrapper css-class="wrapper" padding="0" border="1px solid #e9e9e9">
      
<mj-section background-color="#2b2b2b" padding="15px 0">
    <mj-column width="30%" padding="10px" vertical-align="middle">
        <mj-image href="https://www.gino-rossi.com/?utm_medium=email&utm_source=ginorossi&utm_campaign=22.11.2019_m_black_weekend&utm_content=Logo" alt="Gino Rossi" width="150px" src="gr_logo.png" padding="0"></mj-image>
    </mj-column>
    <mj-column css-class="show_on_desktop" width="70%" padding="10px" vertical-align="middle">
        <mj-navbar hamburger="false">
            <mj-navbar-link href="https://www.gino-rossi.com/ona/obuwie?utm_medium=email&utm_source=ginorossi&utm_campaign=22.11.2019_m_black_weekend&utm_content=damskie" color="#ffffff" font-size="12px" line-height="140%" padding="10px 10px">{{{ w.txt.ona }}}</mj-navbar-link>
            <mj-navbar-link href="https://www.gino-rossi.com/on/obuwie?utm_medium=email&utm_source=ginorossi&utm_campaign=22.11.2019_m_black_weekend&utm_content=meskie" color="#ffffff" font-size="12px" line-height="140%" padding="10px 10px">{{{ w.txt.on }}}</mj-navbar-link>
            <mj-navbar-link href="https://www.gino-rossi.com/ona/akcesoria/torebki?utm_medium=email&utm_source=ginorossi&utm_campaign=22.11.2019_m_black_weekend&utm_content=torby_damskie" color="#ffffff" font-size="12px" line-height="140%" padding="10px 10px">{{{ w.txt.torby_damskie }}}</mj-navbar-link>
            <mj-navbar-link href="https://www.gino-rossi.com/on/akcesoria/torby?utm_medium=email&utm_source=ginorossi&utm_campaign=22.11.2019_m_black_weekend&utm_content=torby_meskie" color="#ffffff" font-size="12px" line-height="140%" padding="10px 10px">{{{ w.txt.torby_meskie }}}</mj-navbar-link>
            <mj-navbar-link href="https://www.gino-rossi.com/ona/obuwie/nowakolekcja?dir=desc&order=created_at&utm_medium=email&utm_source=ginorossi&utm_campaign=22.11.2019_m_black_weekend&utm_content=new" color="#ffffff" font-size="12px" line-height="140%" padding="10px 10px">{{{ w.txt.nowosci }}}</mj-navbar-link>
        </mj-navbar>
    </mj-column>
</mj-section>
      
      <mj-section css-class="" direction="" background-color="#ffffff" padding="0">
        <mj-column css-class="ltr" vertical-align="bottom">
          <mj-image css-class="kv-alt" href="https://www.gino-rossi.com/19.11_nk20/?___store=pl&utm_medium=email&utm_source=ginorossi&utm_campaign=22.11.2019_m_black_weekend&utm_content=KV" alt="{{{ m.txt.kv }}}" fluid-on-mobile="true" padding="0" src="kv30.png"></mj-image>
        </mj-column>
      </mj-section>
      
    <mj-section css-class="" direction="" background-color="#ffffff" padding="0">
        <mj-column css-class="" vertical-align="bottom">
          <mj-image css-class="kv-alt" href="https://www.gino-rossi.com/on/obuwie/nowakolekcja?utm_medium=email&utm_source=ginorossi&utm_campaign=22.11.2019_m_black_weekend&utm_content=1" alt="{{{ m.txt.kv }}}" fluid-on-mobile="true" padding="0" src="wszystko.png"></mj-image>
        </mj-column>
      </mj-section>
      
    
       <mj-section css-class="" direction="" background-color="#ffffff" padding="0">
        <mj-column css-class="" vertical-align="bottom">
          <mj-image css-class="kv-alt" href="https://www.gino-rossi.com/on/obuwie/nowakolekcja?utm_medium=email&utm_source=ginorossi&utm_campaign=22.11.2019_m_black_weekend&utm_content=1" alt="{{{ m.txt.kv }}}" fluid-on-mobile="true" padding="0" src="1.png"></mj-image>
        </mj-column>
      </mj-section>
      
    <mj-section css-class="" direction="" background-color="#ffffff" padding="0">
        <mj-column css-class="" vertical-align="bottom">
          <mj-image css-class="kv-alt" href="https://www.gino-rossi.com/on/obuwie/polbuty/mpu436-k69-4300-3300-0?utm_medium=email&utm_source=ginorossi&utm_campaign=22.11.2019_m_black_weekend&utm_content=1_1" alt="{{{ m.txt.kv }}}" fluid-on-mobile="false" padding="0" src="but1.png"></mj-image>
          <mj-text font-family="Lato, Arial" font-size="14px" line-height="18px" font-weight="700" color="#2b2b2b" align="center" padding="5px 0 4px">
            Półbuty RUDI
          </mj-text>
          <mj-button href="https://www.gino-rossi.com/on/obuwie/polbuty/mpu436-k69-4300-3300-0?utm_medium=email&utm_source=ginorossi&utm_campaign=22.11.2019_m_black_weekend&utm_content=1_1" font-size="12px" line-height="18px" font-weight="900" background-color="#ffffff" color="#000000" inner-padding="0" border-bottom="2px solid #000000" border-radius="0" height="24px" padding="0 0 10px">
            <span style="letter-spacing: 2px">SPRAWDŹ</span>
          </mj-button>
        </mj-column>
        <mj-column css-class="" vertical-align="bottom">
          <mj-image css-class="kv-alt" href="https://www.gino-rossi.com/on/akcesoria/torby/aktowki/yt563a-000-bg00-3300-x?utm_medium=email&utm_source=ginorossi&utm_campaign=22.11.2019_m_black_weekend&utm_content=1_2" alt="{{{ m.txt.kv }}}" fluid-on-mobile="false" padding="0" src="aktowka.png"></mj-image>
          <mj-text font-family="Lato, Arial" font-size="14px" line-height="18px" font-weight="700" color="#2b2b2b" align="center" padding="5px 0 4px">
            Półbuty KABRU
          </mj-text>
          <mj-button href="https://www.gino-rossi.com/on/akcesoria/torby/aktowki/yt563a-000-bg00-3300-x?utm_medium=email&utm_source=ginorossi&utm_campaign=22.11.2019_m_black_weekend&utm_content=1_2" font-size="12px" line-height="18px" font-weight="900" background-color="#ffffff" color="#000000" inner-padding="0" border-bottom="2px solid #000000" border-radius="0" height="24px" padding="0 0 10px">
            <span style="letter-spacing: 2px">SPRAWDŹ</span>
          </mj-button>
        </mj-column>
        <mj-column css-class="" vertical-align="bottom">
          <mj-image css-class="kv-alt" href="https://www.gino-rossi.com/on/akcesoria/paski/am0695-000-bgbg-9933-x?utm_medium=email&utm_source=ginorossi&utm_campaign=22.11.2019_m_black_weekend&utm_content=1_3" alt="{{{ m.txt.kv }}}" fluid-on-mobile="false" padding="0" src="pasek.png"></mj-image>
          <mj-text font-family="Lato, Arial" font-size="14px" line-height="18px" font-weight="700" color="#2b2b2b" align="center" padding="5px 0 4px">
            Pasek męski dwustronny
          </mj-text>
          <mj-button href="https://www.gino-rossi.com/on/akcesoria/paski/am0695-000-bgbg-9933-x?utm_medium=email&utm_source=ginorossi&utm_campaign=22.11.2019_m_black_weekend&utm_content=1_3" font-size="12px" line-height="18px" font-weight="900" background-color="#ffffff" color="#000000" inner-padding="0" border-bottom="2px solid #000000" border-radius="0" height="24px" padding="0 0 10px">
            <span style="letter-spacing: 2px">SPRAWDŹ</span>
          </mj-button>
        </mj-column>
      </mj-section>
      
      <mj-section padding="0" background-color="#ffffff">
        <mj-column>
          <mj-button href="https://www.gino-rossi.com/on/obuwie/nowakolekcja?utm_medium=email&utm_source=ginorossi&utm_campaign=22.11.2019_m_black_weekend&utm_content=1_CTA" font-size="14px" line-height="18px" font-weight="900" background-color="#ffffff" color="#000000" inner-padding="15px 40px" border="2px solid #000000" border-radius="0" height="24px"  padding="25px 0 40px" text-transform="uppercase">
            <span style="letter-spacing: 2px">zobacz więcej</span>
          </mj-button>
        </mj-column>
      </mj-section>
      
      <mj-section css-class="" direction="" background-color="#ffffff" padding="0">
        <mj-column css-class="" vertical-align="bottom">
          <mj-image css-class="kv-alt" href="https://www.gino-rossi.com/on/obuwie/nowakolekcja?utm_medium=email&utm_source=ginorossi&utm_campaign=22.11.2019_m_black_weekend&utm_content=2" alt="{{{ m.txt.kv }}}" fluid-on-mobile="true" padding="0" src="postaw.png"></mj-image>
        </mj-column>
      </mj-section>
      
        <mj-section css-class="" direction="" background-color="#ffffff" padding="0">
        <mj-column css-class="" vertical-align="bottom">
          <mj-image css-class="kv-alt" href="https://www.gino-rossi.com/on/obuwie/nowakolekcja?utm_medium=email&utm_source=ginorossi&utm_campaign=22.11.2019_m_black_weekend&utm_content=2" alt="{{{ m.txt.kv }}}" fluid-on-mobile="true" padding="0" src="2.png"></mj-image>
        </mj-column>
      </mj-section>
      
          <mj-section css-class="" direction="" background-color="#ffffff" padding="0">
        <mj-column css-class="" vertical-align="bottom">
          <mj-image css-class="kv-alt" href="https://www.gino-rossi.com/on/obuwie/trzewiki/mtu430-669-0717-9900-f?utm_medium=email&utm_source=ginorossi&utm_campaign=22.11.2019_m_black_weekend&utm_content=2_1" alt="{{{ m.txt.kv }}}" fluid-on-mobile="false" padding="0" src="but2.png"></mj-image>
          <mj-text font-family="Lato, Arial" font-size="14px" line-height="18px" font-weight="700" color="#2b2b2b" align="center" padding="5px 0 4px">
            Trzewiki ARMY
          </mj-text>
          <mj-button href="https://www.gino-rossi.com/on/obuwie/trzewiki/mtu430-669-0717-9900-f?utm_medium=email&utm_source=ginorossi&utm_campaign=22.11.2019_m_black_weekend&utm_content=2_1" font-size="12px" line-height="18px" font-weight="900" background-color="#ffffff" color="#000000" inner-padding="0" border-bottom="2px solid #000000" border-radius="0" height="24px" padding="0 0 10px">
            <span style="letter-spacing: 2px">SPRAWDŹ</span>
          </mj-button>
        </mj-column>
        <mj-column css-class="" vertical-align="bottom">
          <mj-image css-class="kv-alt" href="https://www.gino-rossi.com/on/akcesoria/torby/listonoszki/yt571a-000-bg00-9900-x?utm_medium=email&utm_source=ginorossi&utm_campaign=22.11.2019_m_black_weekend&utm_content=2_2" alt="{{{ m.txt.kv }}}" fluid-on-mobile="false" padding="0" src="listonoszka.png"></mj-image>
          <mj-text font-family="Lato, Arial" font-size="14px" line-height="18px" font-weight="700" color="#2b2b2b" align="center" padding="5px 0 4px">
            Listonoszka
          </mj-text>
          <mj-button href="https://www.gino-rossi.com/on/akcesoria/torby/listonoszki/yt571a-000-bg00-9900-x?utm_medium=email&utm_source=ginorossi&utm_campaign=22.11.2019_m_black_weekend&utm_content=2_2" font-size="12px" line-height="18px" font-weight="900" background-color="#ffffff" color="#000000" inner-padding="0" border-bottom="2px solid #000000" border-radius="0" height="24px" padding="0 0 10px">
            <span style="letter-spacing: 2px">SPRAWDŹ</span>
          </mj-button>
        </mj-column>
        <mj-column css-class="" vertical-align="bottom">
          <mj-image css-class="kv-alt" href="https://www.gino-rossi.com/on/akcesoria/paski/am0489-000-bg00-9900-x?utm_medium=email&utm_source=ginorossi&utm_campaign=22.11.2019_m_black_weekend&utm_content=2_3" alt="{{{ m.txt.kv }}}" fluid-on-mobile="false" padding="0" src="pasek2.png"></mj-image>
          <mj-text font-family="Lato, Arial" font-size="14px" line-height="18px" font-weight="700" color="#2b2b2b" align="center" padding="5px 0 4px">
            Pasek męski
          </mj-text>
          <mj-button href="https://www.gino-rossi.com/on/akcesoria/paski/am0489-000-bg00-9900-x?utm_medium=email&utm_source=ginorossi&utm_campaign=22.11.2019_m_black_weekend&utm_content=2_3" font-size="12px" line-height="18px" font-weight="900" background-color="#ffffff" color="#000000" inner-padding="0" border-bottom="2px solid #000000" border-radius="0" height="24px" padding="0 0 10px">
            <span style="letter-spacing: 2px">SPRAWDŹ</span>
          </mj-button>
        </mj-column>
      </mj-section>
      
            <mj-section padding="0" background-color="#ffffff">
        <mj-column>
          <mj-button href="https://www.gino-rossi.com/on/obuwie/nowakolekcja?utm_medium=email&utm_source=ginorossi&utm_campaign=22.11.2019_m_black_weekend&utm_content=2_CTA" font-size="14px" line-height="18px" font-weight="900" background-color="#ffffff" color="#000000" inner-padding="15px 40px" border="2px solid #000000" border-radius="0" height="24px"  padding="25px 0 40px" text-transform="uppercase">
            <span style="letter-spacing: 2px">zobacz więcej</span>
          </mj-button>
        </mj-column>
      </mj-section>
      
            <mj-section css-class="" direction="" background-color="#ffffff" padding="0">
        <mj-column css-class="ltr" vertical-align="bottom">
          <mj-image css-class="kv-alt" href="https://www.gino-rossi.com/on/obuwie/nowakolekcja?utm_medium=email&utm_source=ginorossi&utm_campaign=22.11.2019_m_black_weekend&utm_content=3" alt="{{{ m.txt.kv }}}" fluid-on-mobile="true" padding="0" src="brak.png"></mj-image>
        </mj-column>
      </mj-section>
      
        <mj-section css-class="" direction="" background-color="#ffffff" padding="0">
        <mj-column css-class="" vertical-align="bottom">
          <mj-image css-class="kv-alt" href="https://www.gino-rossi.com/on/obuwie/nowakolekcja?utm_medium=email&utm_source=ginorossi&utm_campaign=22.11.2019_m_black_weekend&utm_content=3" alt="{{{ m.txt.kv }}}" fluid-on-mobile="true" padding="0" src="3.png"></mj-image>
        </mj-column>
      </mj-section>
      
          <mj-section css-class="" direction="" background-color="#ffffff" padding="0">
        <mj-column css-class="" vertical-align="bottom">
          <mj-image css-class="kv-alt" href="https://www.gino-rossi.com/on/obuwie/trzewiki/mtu417-871-r500-4000-1?utm_medium=email&utm_source=ginorossi&utm_campaign=22.11.2019_m_black_weekend&utm_content=3_1" alt="{{{ m.txt.kv }}}" fluid-on-mobile="false" padding="0" src="but3.png"></mj-image>
          <mj-text font-family="Lato, Arial" font-size="14px" line-height="18px" font-weight="700" color="#2b2b2b" align="center" padding="5px 0 4px">
            Trzewiki CHUCK
          </mj-text>
          <mj-button href="https://www.gino-rossi.com/on/obuwie/trzewiki/mtu417-871-r500-4000-1?utm_medium=email&utm_source=ginorossi&utm_campaign=22.11.2019_m_black_weekend&utm_content=3_1" font-size="12px" line-height="18px" font-weight="900" background-color="#ffffff" color="#000000" inner-padding="0" border-bottom="2px solid #000000" border-radius="0" height="24px" padding="0 0 10px">
            <span style="letter-spacing: 2px">SPRAWDŹ</span>
          </mj-button>
        </mj-column>
        <mj-column css-class="ltr" vertical-align="bottom">
          <mj-image css-class="kv-alt" href="https://www.gino-rossi.com/on/akcesoria/torby/listonoszki/yt227a-000-bg00-9900-x?utm_medium=email&utm_source=ginorossi&utm_campaign=22.11.2019_m_black_weekend&utm_content=3_2" alt="{{{ m.txt.kv }}}" fluid-on-mobile="false" padding="0" src="listonoszka2.png"></mj-image>
          <mj-text font-family="Lato, Arial" font-size="14px" line-height="18px" font-weight="700" color="#2b2b2b" align="center" padding="5px 0 4px">
            Listonoszka PEAK
          </mj-text>
          <mj-button href="https://www.gino-rossi.com/on/akcesoria/torby/listonoszki/yt227a-000-bg00-9900-x?utm_medium=email&utm_source=ginorossi&utm_campaign=22.11.2019_m_black_weekend&utm_content=3_2" font-size="12px" line-height="18px" font-weight="900" background-color="#ffffff" color="#000000" inner-padding="0" border-bottom="2px solid #000000" border-radius="0" height="24px" padding="0 0 10px">
            <span style="letter-spacing: 2px">SPRAWDŹ</span>
          </mj-button>
        </mj-column>
        <mj-column css-class="ltr" vertical-align="bottom">
          <mj-image css-class="kv-alt" href="https://www.gino-rossi.com/on/akcesoria/paski/am0517-000-btbt-3799-x?utm_medium=email&utm_source=ginorossi&utm_campaign=22.11.2019_m_black_weekend&utm_content=3_3" alt="{{{ m.txt.kv }}}" fluid-on-mobile="false" padding="0" src="pasek3.png"></mj-image>
          <mj-text font-family="Lato, Arial" font-size="14px" line-height="18px" font-weight="700" color="#2b2b2b" align="center" padding="5px 0 4px">
            Pasek męski dwóstronny
          </mj-text>
          <mj-button href="https://www.gino-rossi.com/on/akcesoria/paski/am0517-000-btbt-3799-x?utm_medium=email&utm_source=ginorossi&utm_campaign=22.11.2019_m_black_weekend&utm_content=3_3" font-size="12px" line-height="18px" font-weight="900" background-color="#ffffff" color="#000000" inner-padding="0" border-bottom="2px solid #000000" border-radius="0" height="24px" padding="0 0 10px">
            <span style="letter-spacing: 2px">SPRAWDŹ</span>
          </mj-button>
        </mj-column>
      </mj-section>
      
    <mj-section padding="0" background-color="#ffffff">
        <mj-column>
          <mj-button href="https://www.gino-rossi.com/on/obuwie/nowakolekcja?utm_medium=email&utm_source=ginorossi&utm_campaign=22.11.2019_m_black_weekend&utm_content=3_CTA" font-size="14px" line-height="18px" font-weight="900" background-color="#ffffff" color="#000000" inner-padding="15px 40px" border="2px solid #000000" border-radius="0" height="24px"  padding="25px 0 40px" text-transform="uppercase">
            <span style="letter-spacing: 2px">zobacz więcej</span>
          </mj-button>
        </mj-column>
      </mj-section>
      
      <!--            sec1-->
      
      
      <!--            sec1 - koniec-->
      
      <!--            sec2-->
      
      
      <!--            sec2 - koniec-->
      
      <!--            banner-->
      
      <mj-section padding="0" background-color="#ffffff">
        <mj-column width="600px">
          <mj-image href="https://www.gino-rossi.com/outlet-oferta-70?utm_medium=email&utm_source=ginorossi&utm_campaign=22.11.2019_m_black_weekend&utm_content=4_baner_outlet" fluid-on-mobile="true" padding="0" src="baner.png"></mj-image>
        </mj-column>
      </mj-section>
      
      <mj-section padding="0" background-color="#ffffff">
        <mj-column width="50%" padding="30px">
          <mj-image href="https://www.gino-rossi.com/on/obuwie/outlet?utm_medium=email&utm_source=ginorossi&utm_campaign=22.11.2019_m_black_weekend&utm_content=CTA_dla_niego" fluid-on-mobile="true" padding="0" src="dlaniego.png"></mj-image>
        </mj-column>
        <mj-column width="50%" padding="30px">
          <mj-image href="https://www.gino-rossi.com/ona/obuwie/outlet?utm_medium=email&utm_source=ginorossi&utm_campaign=22.11.2019_m_black_weekend&utm_content=CTA_dla_niej" fluid-on-mobile="true" padding="0" src="dlaniej.png"></mj-image>
        </mj-column>
      </mj-section>
      
      <!--            banner - koniec-->
      
      {{> w_ups-sec }}
      
      {{> w_mobile-nav }}
      
      {{> w_footer }}
    </mj-wrapper>
  </mj-body>
</mjml>
