<mjml>
    <mj-head>
        <mj-title>Wygodne półbuty 👞 teraz 20% taniej! Skorzystaj teraz 👉</mj-title>
        <mj-preview>Kod rabatowy znajdziesz w środku ></mj-preview>
        <mj-font name="Lato" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap&subset=latin-ext"/>
        <mj-attributes>
            <mj-all line-height="1" font-family="Lato, Arial"/>
        </mj-attributes>
        <mj-breakpoint width="600px"/>
        <mj-style inline="inline">
            
            .show_on_mobile, .show_on_mobile-outlook {
            display:none;
            }
            
            .show_on_mobile table, .show_on_mobile-outlook {
            mso-hide:all;
            }
            
            .mj-column-per-33 {
            width: 320px;
            }
            
            .mj-column-per-50 {
            width: 320px;
            }
            
            .rtl > table > tbody > tr > td, .rtl > table, .rtl > table { direction: rtl; }
            
            .ltr > table { direction: ltr; }
            
            .border-socials > td { border: 1px solid #89828b; cursor: pointer; }
        </mj-style>
        <mj-style>
            
            .ltr > table { direction: ltr; }
            
            .rtl > table { direction: rtl; }
            
            .border-socials > td:hover { border: 1px solid #ffffff!important; background-color: #ffffff; }
            
            .kv-alt img { font-family: Arial; color: #000000; font-size: 30px!important; line-height:50px; text-align: center; }
            .banner-alt img { font-family: Arial; color: #c0c0c0; font-size: 20px!important; line-height:40px; text-align: center; }
            .prod-alt img { font-family: Arial; color: #000000; font-size: 16px!important; line-height:30px; text-align: center; }
            .cta-alt img { font-family: Arial; color: #000000; font-size: 20px!important; line-height:35px; background-color: #ffffff; text-align: center; }
            
            @media only screen and (max-width: 599px) {
            
            .wrapper { max-width: 322px!important; }
            
            .show_on_desktop { display:none!important; }
            
            .show_on_mobile, .show_on_mobile-outlook { display:block!important; }
            
            .mj-column-per-33 > table, .mj-column-per-33 > table > tbody > tr > td > table { min-width: 100% }
            
            .mj-column-per-50 > table {min-width: 100%}
            
            .mj-column-per-100 > table {min-width: 100%}
            .mj-column-px-250 > table {min-width: 100%}
            
            .mj-column-per-50, .mj-column-per-33 { max-width: 100%!important; }
            
            .contact-social { padding: 3px 0!important;}
            .cta-sec > table > tbody > tr > td { padding-top: 25px!important}
            }
        </mj-style>
    </mj-head>
    
    <mj-body background-color="#fff" width="602px">
        <mj-section padding="0">
            <mj-column>
                <mj-text font-size="11px" color="#5a5a5a" align="right" padding="10px 0">
                    {{{ w.txt.show_in_browser }}}
                </mj-text>
            </mj-column>
        </mj-section>
        
        <mj-wrapper css-class="wrapper" padding="0" border="1px solid #e9e9e9">
            
            {{> w_top-nav}}
    
            <mj-section background-color="#fff" padding="0 0 0 0">
                <mj-column>
                    <mj-image css-class="kv-alt" href="https://www.gino-rossi.com/meskie/meskie-polbuty?utm_medium=email&utm_source=ginorossi&utm_campaign=27.08.2020_20%_polbuty_m&utm_content=KV" alt="Promocja -20% na półbuty. Kod rabatowy: GR20" fluid-on-mobile="true" padding="0 0 15px 0" src="kv.jpg"></mj-image>
                     <mj-button width="220px" line-height="20px" href="https://www.gino-rossi.com/meskie/meskie-polbuty?utm_medium=email&utm_source=ginorossi&utm_campaign=27.08.2020_20%_polbuty_m&utm_content=KV_CTA" text-transform="uppercase" inner-padding="12px 10px" background-color="#000" border-radius="0" color="#fff">
                        Sprawdź
                    </mj-button>
                    <mj-text color="#gray" font-size="12px" letter-spacing="1.8px" align="center" line-height="20px">
                       Promocja ważna w sklepie internetowym i w salonach do 31.08.
                    </mj-text>
                </mj-column>
            </mj-section>
            
            <mj-section background-color="#fff" padding="30px 0 0 0">
                <mj-column>
                    <mj-image css-class="kv-alt" href="https://www.gino-rossi.com/meskie/meskie-polbuty?utm_medium=email&utm_source=ginorossi&utm_campaign=27.08.2020_20%_polbuty_m&utm_content=1" alt="półbuty" fluid-on-mobile="true" padding="0 0 0 0" src="baner.jpg"></mj-image>
                </mj-column>
            </mj-section>
            
            <mj-section background-color="#fff" padding="10px 40px 0 40px">
                <mj-column>
                    <mj-image css-class="kv-alt" href="https://www.gino-rossi.com/meskie/meskie-polbuty/mokasyny-cusco-mp2413-two-cgcg-5378-0-kolor-granatowy-kod-0000207226319?utm_medium=email&utm_source=ginorossi&utm_campaign=27.08.2020_20%_polbuty_m&utm_content=1_1" fluid-on-mobile="true" padding="0 0 0 0" src="1.jpg"></mj-image>
                    <mj-button href="https://www.gino-rossi.com/meskie/meskie-polbuty/mokasyny-cusco-mp2413-two-cgcg-5378-0-kolor-granatowy-kod-0000207226319?utm_medium=email&utm_source=ginorossi&utm_campaign=27.08.2020_20%_polbuty_m&utm_content=1_1" font-size="14px" color="#000" text-transform="uppercase" text-decoration="underline" background-color="inherit"><b>Sprawdź</b></mj-button>
                </mj-column>
                <mj-column>
                    <mj-image css-class="kv-alt" href="https://www.gino-rossi.com/meskie/meskie-polbuty/polbuty-mpu486-aster-05-kolor-brazowy-kod-5903419298776?utm_medium=email&utm_source=ginorossi&utm_campaign=27.08.2020_20%_polbuty_m&utm_content=1_2" fluid-on-mobile="true" padding="0 0 0 0" src="2.jpg"></mj-image>
                    <mj-button href="https://www.gino-rossi.com/meskie/meskie-polbuty/polbuty-mpu486-aster-05-kolor-brazowy-kod-5903419298776?utm_medium=email&utm_source=ginorossi&utm_campaign=27.08.2020_20%_polbuty_m&utm_content=1_2" font-size="14px" color="#000" text-transform="uppercase" text-decoration="underline" background-color="inherit"><b>Sprawdź</b></mj-button>
                </mj-column>
            </mj-section>
            
            <mj-section>
                <mj-column>
                     <mj-button width="220px" line-height="20px" href="https://www.gino-rossi.com/meskie/meskie-polbuty?utm_medium=email&utm_source=ginorossi&utm_campaign=27.08.2020_20%_polbuty_m&utm_content=1_CTA" text-transform="uppercase" inner-padding="12px 10px" background-color="#fff" border="1px #000 solid" border-radius="0" color="#000">
                       <b>zobacz wszystkie</b>
                    </mj-button>
                </mj-column>
            </mj-section>
            
            
            
    
<!--            banner - koniec-->
            
            <mj-section background-color="#2b2b2b" padding="15px 10px">
                <mj-column>
                    <mj-image  css-class="ups-icon" href="https://www.gino-rossi.com/czas-dostawy-i-koszty-wysylki?utm_medium=email&utm_source=ginorossi&utm_campaign=27.08.2020_20%_polbuty_m&utm_content=usp_1" src="gr_usp1.jpg" width="172px" alt="Darmowa dostawa od 99 zł" padding="10px 10px"></mj-image>
                </mj-column>
                <mj-column>
                    <mj-image css-class="ups-icon" href="https://www.gino-rossi.com/zwroty?utm_medium=email&utm_source=ginorossi&utm_campaign=27.08.2020_20%_polbuty_m&utm_content=usp_2" src="gr_usp2.jpg" width="172px" alt="Zwrot i wymiana do 30 dni" padding="10px 10px"></mj-image>
                </mj-column>
                <mj-column>
                    <mj-image css-class="ups-icon" href="https://www.gino-rossi.com/kontakt?utm_medium=email&utm_source=ginorossi&utm_campaign=27.08.2020_20%_polbuty_m&utm_content=usp_3" src="gr_usp3.jpg" width="172px" alt="Godziny pracy 8-17" padding="10px 10px"></mj-image>
                </mj-column>
            </mj-section>
            
            {{> w_mobile-nav }}
            
            <mj-section background-color="#2b2b2b" padding="15px 0">
  <mj-column width="179px" border-right="1px solid #686369">
    <mj-social css-class="contact-social" font-size="13px" line-height="120%" color="#a8a8a8" icon-size="25px" mode="horizontal" align="center" padding="0 20px" inner-padding="0">
      <mj-social-element href="{{{ w.links.con_tel }}}" src="gr_ic_phone.png">
        <span style="color: #a8a8a8">+48 22 123 01 25</span>
      </mj-social-element>
    </mj-social>
  </mj-column>
  <mj-column width="209px" border-right="1px solid #686369">
    <mj-social css-class="contact-social" font-size="13px" line-height="120%" color="#a8a8a8" icon-size="25px" mode="horizontal" align="center" padding="0 20px" inner-padding="0">
      <mj-social-element href="{{{ w.links.con_mes }}}" src="gr_ic_email.png">
        <span style="color:#a8a8a8;">e-sklep@gino-rossi.com</span>
      </mj-social-element>
    </mj-social>
  </mj-column>
  <mj-column width="209px">
    <mj-social css-class="contact-social" font-size="13px" line-height="120%" color="#a8a8a8" icon-size="25px" mode="horizontal" align="center" padding="0 20px" inner-padding="0">
      <mj-social-element href="{{{ w.links.con_per }}}" src="gr_ic_user.png">
        poniedziałek-piątek
      </mj-social-element>
    </mj-social>
  </mj-column>
</mj-section>
<mj-section background-color="#2b2b2b" padding="0">
  <mj-column>
      <mj-text font-size="18px" line-height="140%" font-weight="400" color="#ffffff" padding="10px 25px 15px" align="center" text-transform="uppercase">
          Znajdziesz nas na:
      </mj-text>
      <mj-social font-size="13px" color="#2b2b2b" icon-size="35px" mode="horizontal" align="center" padding="0 20px 25px" inner-padding="13px">
          <mj-social-element css-class="border-socials" href="{{{ w.links.s_fb }}}" src="gr_soc_fb.png"></mj-social-element>
          <mj-social-element css-class="border-socials" href="{{{ w.links.s_in }}}" src="gr_soc_in.png"></mj-social-element>
      </mj-social>
  </mj-column>
</mj-section>
<mj-section background-color="#2b2b2b" padding="0">
  <mj-column width="520px">
      <mj-text font-size="8px" line-height="11px" font-weight="400" color="#ffffff" padding="10px 25px 15px" align="center">
          Informujemy, że wiadomość została wysłana przez Gino Rossi S.A. z siedzibą w Słupsku, ul. Owocowa 24, 76-200 Słupsk, zarejestrowana przez Sąd Rejonowy Gdańsk-Północ w Gdańsku VIII Wydział Gospodarczy KRS, pod numerem KRS 0000043459, NIP 839-020-22-81, REGON 771479103. Kapitał zakładowy 85.416.547,50 zł opłacony w całości. ©️ 2019 Gino Rossi Wszelkie Prawa Zastrzeżone.
          <br><br>
          Aby zrezygnować z otrzymywania informacji handlowych kliknij link poniżej
          <br><br>
          {{{ w.txt.reslink }}}
      </mj-text>
  </mj-column>
</mj-section>
        </mj-wrapper>
    </mj-body>
</mjml>
