<mj-section background-color="#2b2b2b" padding="15px 0">
  <mj-column width="179px" border-right="1px solid #686369">
    <mj-social css-class="contact-social" font-size="13px" line-height="120%" color="#a8a8a8" icon-size="25px" mode="horizontal" align="center" padding="0 20px" inner-padding="0">
      <mj-social-element href="{{{ w.links.con_tel }}}" src="gr_ic_phone.png">
        <span style="color: #a8a8a8">+48 59 727 98 48</span>
      </mj-social-element>
    </mj-social>
  </mj-column>
  <mj-column width="209px" border-right="1px solid #686369">
    <mj-social css-class="contact-social" font-size="13px" line-height="120%" color="#a8a8a8" icon-size="25px" mode="horizontal" align="center" padding="0 20px" inner-padding="0">
      <mj-social-element href="{{{ w.links.con_mes }}}" src="gr_ic_email.png">
        <span style="color:#a8a8a8;">e-sklep@gino-rossi.com</span>
      </mj-social-element>
    </mj-social>
  </mj-column>
  <mj-column width="209px">
    <mj-social css-class="contact-social" font-size="13px" line-height="120%" color="#a8a8a8" icon-size="25px" mode="horizontal" align="center" padding="0 20px" inner-padding="0">
      <mj-social-element href="{{{ w.links.con_per }}}" src="gr_ic_user.png">
        poniedziałek-piątek 8-17
      </mj-social-element>
    </mj-social>
  </mj-column>
</mj-section>
<mj-section background-color="#2b2b2b" padding="0">
  <mj-column>
      <mj-text font-size="18px" line-height="140%" font-weight="400" color="#ffffff" padding="10px 25px 15px" align="center" text-transform="uppercase">
          Znajdziesz nas na:
      </mj-text>
      <mj-social font-size="13px" color="#2b2b2b" icon-size="35px" mode="horizontal" align="center" padding="0 20px 25px" inner-padding="13px">
          <mj-social-element css-class="border-socials" href="{{{ w.links.s_fb }}}" src="gr_soc_fb.png"></mj-social-element>
          <mj-social-element css-class="border-socials" href="{{{ w.links.s_in }}}" src="gr_soc_in.png"></mj-social-element>
      </mj-social>
  </mj-column>
</mj-section>
<mj-section background-color="#2b2b2b" padding="0">
  <mj-column width="520px">
      <mj-text font-size="8px" line-height="11px" font-weight="400" color="#ffffff" padding="10px 25px 15px" align="center">
          Informujemy, że&nbsp;wiadomość została wysłana przez&nbsp;GIno Rossi S.A. zgodnie z&nbsp;zaakceptowaną politykją prywatności. GINO ROSSI S.A. z&nbsp;siedzibą w&nbsp;Słupsku, ul.&nbsp;Owocowa 24, 76-200 Słupsk, zarejestrowana przez&nbsp;Sąd Rejonowy Gdańsk-Północ w&nbsp;Gdańsku VIII Wydział Gospodarczy KRS, pod&nbsp;numerem KRS 0000043459, NIP 839-020-22-81, REGON 771479103. Kapitał zakładowy 85.416.547,50 zł&nbsp;opłacony w&nbsp;całości. © 2019 Gino Rossi Wszelkie Prawa Zastrzeżone.
          <br><br>
          Aby zrezygnować z&nbsp;otrzymywania informacji handlowych kliknij link poniżej:
          <br><br>
          {{{ w.txt.reslink }}}
      </mj-text>
  </mj-column>
</mj-section>