<mj-section css-class="show_on_mobile" background-color="#2b2b2b" padding="15px 0px">
    <mj-column>
        <mj-button href="{{{ w.links.ona }}}" background-color="#f9f9f9" width="280px" font-size="14px" line-height="20px" font-weight="700" padding="10px 0" inner-padding="5px 5px" color="#000000" border="1px solid #000000" border-radius="0px">
            BUTY DAMSKIE
        </mj-button>
        <mj-button href="{{{ w.links.on}}}" background-color="#f9f9f9" width="280px" font-size="14px" line-height="20px" font-weight="700" padding="10px 0" inner-padding="5px 5px" color="#000000" border="1px solid #000000" border-radius="0px">
            BUTY MĘSKIE
        </mj-button>
        <mj-button href="{{{ w.links.torby_damskie }}}" background-color="#f9f9f9" width="280px" font-size="14px" line-height="20px" font-weight="700" padding="10px 0" inner-padding="5px 5px" color="#000000" border="1px solid #000000" border-radius="0px">
            TOREBKI
        </mj-button>
    </mj-column>
</mj-section>