<mj-section background-color="#2b2b2b" padding="15px 0">
    <mj-column width="30%" padding="10px" vertical-align="middle">
        <mj-image href="{{{ w.links.logo }}}" alt="Gino Rossi" width="150px" src="gr_logo.png" padding="0"></mj-image>
    </mj-column>
    <mj-column css-class="show_on_desktop" width="70%" padding="10px" vertical-align="middle">
        <mj-navbar hamburger="false">
            <mj-navbar-link href="{{{ w.links.ona }}}" color="#ffffff" font-size="12px" line-height="140%" padding="10px 10px">BUTY DAMSKIE</mj-navbar-link>
            <mj-navbar-link href="{{{ w.links.on }}}" color="#ffffff" font-size="12px" line-height="140%" padding="10px 10px">BUTY MĘSKIE</mj-navbar-link>
            <mj-navbar-link href="{{{ w.links.torby_damskie }}}" color="#ffffff" font-size="12px" line-height="140%" padding="10px 10px">TOREBKI</mj-navbar-link>
        </mj-navbar>
    </mj-column>
</mj-section>