<mj-section background-color="#2b2b2b" padding="15px 10px">
    <mj-column>
        <mj-image css-class="ups-icon" href="{{{ w.links.usp1 }}}" src="gr_ups1.jpg" width="172px" alt="{{{ w.txt.usp1 }}}" padding="10px 10px"></mj-image>
    </mj-column>
    <mj-column>
        <mj-image css-class="ups-icon" href="{{{ w.links.usp2 }}}" src="gr_ups2.jpg" width="172px" alt="{{{ w.txt.usp2 }}}" padding="10px 10px"></mj-image>
    </mj-column>
    <mj-column>
        <mj-image css-class="ups-icon" href="{{{ w.links.usp3 }}}" src="gr_ups3.jpg" width="172px" alt="{{{ w.txt.usp3 }}}" padding="10px 10px"></mj-image>
    </mj-column>
</mj-section>
